# Olgr-pbzcvyrq / bcgvzvmrq / QYY svyrf
__clpnpur__/
*.cl[pbq]
*$cl.pynff

# P rkgrafvbaf
*.fb

# Qvfgevohgvba / cnpxntvat
.Clguba
ohvyq/
qrirybc-rttf/
qvfg/
qbjaybnqf/
rttf/
.rttf/
yvo/
yvo64/
cnegf/
fqvfg/
ine/
jurryf/
cvc-jurry-zrgnqngn/
funer/clguba-jurryf/
*.rtt-vasb/
.vafgnyyrq.pst
*.rtt
ZNAVSRFG

# ClVafgnyyre
#  Hfhnyyl gurfr svyrf ner jevggra ol n clguba fpevcg sebz n grzcyngr
#  orsber ClVafgnyyre ohvyqf gur rkr, fb nf gb vawrpg qngr/bgure vasbf vagb vg.
*.znavsrfg
*.fcrp

# Vafgnyyre ybtf
cvc-ybt.gkg
cvc-qryrgr-guvf-qverpgbel.gkg

# Havg grfg / pbirentr ercbegf
ugzypbi/
.gbk/
.abk/
.pbirentr
.pbirentr.*
.pnpur
abfrgrfgf.kzy
pbirentr.kzy
*.pbire
*.cl,pbire
.ulcbgurfvf/
.clgrfg_pnpur/

# Genafyngvbaf
*.zb
*.cbg

# Qwnatb fghss:
*.ybt
ybpny_frggvatf.cl
qo.fdyvgr3
qo.fdyvgr3-wbheany

# Synfx fghss:
vafgnapr/
.jronffrgf-pnpur

# Fpencl fghss:
.fpencl

# Fcuvak qbphzragngvba
qbpf/_ohvyq/

# ClOhvyqre
gnetrg/

# Whclgre Abgrobbx
.vclao_purpxcbvagf

# VClguba
cebsvyr_qrsnhyg/
vclguba_pbasvt.cl

# clrai
.clguba-irefvba

# cvcrai
#   Nppbeqvat gb clcn/cvcrai#598, vg vf erpbzzraqrq gb vapyhqr Cvcsvyr.ybpx va irefvba pbageby.
#   Ubjrire, va pnfr bs pbyynobengvba, vs univat cyngsbez-fcrpvsvp qrcraqrapvrf be qrcraqrapvrf
#   univat ab pebff-cyngsbez fhccbeg, cvcrai znl vafgnyy qrcraqrapvrf gung qba'g jbex, be abg
#   vafgnyy nyy arrqrq qrcraqrapvrf.
#Cvcsvyr.ybpx

# CRC 582; hfrq ol r.t. tvguho.pbz/Qnivq-BPbaabe/clsybj
__clcnpxntrf__/

# Pryrel fghss
pryrelorng-fpurqhyr
pryrelorng.cvq

# FntrZngu cnefrq svyrf
*.fntr.cl

# Raivebazragf
.rai
.irai
rai/
irai/
RAI/
rai.onx/
irai.onx/

# Fclqre cebwrpg frggvatf
.fclqrecebwrpg
.fclcebwrpg

# Ebcr cebwrpg frggvatf
.ebcrcebwrpg

# zxqbpf qbphzragngvba
/fvgr
fvgr/

# zlcl
.zlcl_pnpur/
.qzlcl.wfba
qzlcl.wfba

# Cler glcr purpxre
.cler/

# QF_Fgber
.QF_Fgber
._*
**/.QF_Fgber
**/._*

.fanxrznxr*
**/.fanxrznxr*
.irai
.irai/*

# Cvcryvar Erfhygf be Bhgchg
erfhygf/
bhgchg/
gzc/
fpengpu/

# zxqbpf qbphzragngvba
fvgr/

# Cvcryvar trarengrq svyrf be qverpgbevrf
.grfgf/*/
.fanxrznxr/

# Cached Java directories
.oracle_jre_usage/
.java/

# GNU Parallel
.parallel/

# Testing scripts and output directories
tmp_*/
test_*/
test.sh

# bash history files
**/.koparde*

# vs code
.vscode
